@font-face {
    font-family: lato;
    src: url('../fonts/lato.ttf');
}

@font-face {
    font-family: captain;
    src: url('../fonts/captain.ttf');
}

body{
    margin: 0;
    background-color: #EEEEEE;
}

.nav-container{
    background-color: #e63946;
    height: 80px;
}

.nav-container ul{
    margin: 0;
    text-align: center;
}

.nav-container li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

.nav-container a{
    font-family: lato;
    color: #f1faee;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 0px;
}

/* landing page css starts here */

.landing-container{
    display: flex;
}

.landing-heading{
    width: 50%;
    margin: 100px 0px 0px 100px;
}

.landing-heading h1{
    color: #1d3557;
    font-family: captain;
    font-size: 80px;
    margin-bottom: 20px;
}

.landing-image{
    margin: 150px 0px 0px 0px;
}

.landing-image img{
    width: 500px;
    height: auto;
    
}

.btn{
    float: left;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 25px;
    width: 100px;
    background-color: transparent;
    border: 2px solid #EEEEEE;
    font-family: lato;
    color: #EEEEEE;
    padding: 10px 10px 10px 10px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    font-size: 18px;
}

.btn-m{
    margin-left: 30px;
}


.btn:hover{
    background-color: #EEEEEE;
    color: #264653;
}
